#body {
    background-color: #dbc6eb;
}

body {
    background-color: #dbc6eb;
}

.logo-img {
    text-align: center;
    padding-top: 10vh;
}

.track-img {
    width: 40vh;
    border: solid black 5px;
}

.acid-rap {
    border: 20px;
}

#current-radio {
    font-family: 'Roboto', sans-serif;
}

#song-name {
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
}

#artist-name {
    font-size: 22pt;
    font-family: 'Montserrat', sans-serif;
}

.buttons {
    text-align: center;
    padding-top: 2vh;
}

.next {
    margin-left: 2vh;
    cursor: pointer;
    padding: 10px;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
}

.back {
    cursor: pointer;
    padding: 10px;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
}

.track-info {
    text-align: center;
}

.next-station {
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
    padding: 10px;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
}

.prev-station {
    cursor: pointer;
    padding: 10px;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
}

.h1 {
    padding: 2vh;
}

.randomizer{
    text-align: center;
    margin-top: 2vh;
    cursor: pointer;
    margin-bottom: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
}

.random-btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: white;
}

.audio {
    text-align: center;
}
